.custom-upload {
  width: 100%;
  background-color: #f8f9fa8a;
  padding: 8px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.custom-upload .ant-upload-list-picture-card {
  display: flex;
  justify-content: center;
  width: 100% !important;
}

.ant-upload-list-item-thumbnail {
  position: relative;
}

.ant-upload {
  width: 100% !important;
}

.ant-upload-list-item {
  border: none !important;
  width: 100% !important;
  border-radius: 100% !important;
  margin: auto;
}

.ant-upload-list-item-action {
  width: 24px;
  height: 24px;
  margin: auto;
  border: 1px solid #6c757d !important;
  background-color: #fff;
  border-radius: 100% !important;
  position: absolute !important;
  top: 25px;
  right: 10px;

  cursor: pointer;

  &:hover {
    background-color: #6c757d !important;
  }
}

.anticon-delete {
  width: 24px !important;
  height: 24px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anticon-delete > svg {
  height: 24px !important;
  fill: #6c757d !important;

  &:hover {
    fill: #fff !important;
  }
}

.costumIcon {
  margin: auto;
}

.ant-modal-content {
  max-width: 913px;
  min-height: 766px;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: space-around;
}

.ant-btn.ant-btn-primary {
  background-color: #8338ec;
}

.ant-btn.ant-btn-primary:hover {
  background-color: #b588f4 !important;
}

.ant-btn-default {
  border-color: #8338ec;
}

.ant-btn-default:hover {
  border-color: #b588f4 !important;
  color: #212529 !important;
}
