.custom-upload {
  width: 100%;
  background-color: #f8f9fa8a;
  padding: 8px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.custom-upload .ant-upload-list-picture-card {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensure picture-card has width 100% */
}

.ant-modal-content {
  max-width: 913px;
  min-height: 766px;
  margin: auto;
}

.ant-btn.ant-btn-primary {
  background-color: #8338ec;
}

.ant-btn.ant-btn-primary:hover {
  background-color: #b588f4 !important;
}

.ant-btn-default {
  border-color: #8338ec;
}

.ant-btn-default:hover {
  border-color: #b588f4 !important;
  color: #212529 !important;
}
