@import "tailwindcss";

@font-face {
  font-family: "firaGO";
  src: url("/assets/fonts/FiraGO-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "firaGO";
}
